header {
  display: flex;
  justify-content: space-between;
  background-color: #343a40;
}

.navbar-left {
  color: #a7c5f1;
  font-size: 1.2rem;
}

#navbar-icon {
  color: white;
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  padding-left: 1.6rem;
}

a:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

#search {
  margin-top: 0.5rem;
  height: 1.8rem;
  margin-bottom: 0.5rem;
  width: 15rem;
}

.search-button {
  color: #227bff;
  background-color: #343a40;
  border-style: solid;
  border-color: #227bff;
  border-width: 0.05rem;
  margin-right: 1rem;
  padding: 0.4rem;
  border-radius: 0.2rem;
}

.main-search {
  margin-top: 2rem;
}

#site-search-main {
  width: 20rem;
  height: 1.8rem;
  border-width: 0.05rem;
  margin-right: 0.2rem;
  padding: 0.4rem;
  border-radius: 0.2rem;
}
