header {
  display: flex;
  justify-content: space-between;
  background-color: #343a40;
  height: 3rem;
}

.navbar-left {
  font-size: 1.2rem;
}

#navbar-icon {
  color: white;
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  padding-left: 1.6rem;
  color: #227bff;
}

button {
  color: white;
  border-style: none;
}

a:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

.container {
  font-family: Roboto, sans-serif;
}

#search {
  margin-top: 0.5rem;
  height: 1.8rem;
  margin-bottom: 0.5rem;
  width: 15rem;
}

.search-button {
  color: #227bff;
  background-color: #343a40;
  border-style: solid;
  border-color: #227bff;
  border-width: 0.05rem;
  margin-right: 1rem;
  padding: 0.4rem;
  border-radius: 0.2rem;
}

#homesearch {
  width: 17rem;
  height: 1.8rem;
  border-width: 0.05rem;
  margin-right: 0.2rem;
  padding: 0.4rem;
  border-radius: 0.2rem;
  margin-top: 3rem;
}

.column-third {
  flex-basis: 33%;
}

.column-two-thirds {
  flex-basis: 66%;
}

h3 {
  display: inline-block;
  font-size: 1.5rem;
  color: white;
}

p {
  font-size: 0.9rem;
  color: white;
  line-height: 1.3rem;
}

li {
  list-style-type: none;
  margin-bottom: 1rem;
}

.slide-header {
  display: flex;
  justify-content: space-between;
}

h2 {
  text-align: center;
  font-size: 2rem;
  color: white;
}

.currently-airing {
  background-color: #1bb55c;
}

.up-and-coming {
  background-color: #007bff;
  margin-left: 5rem;
  margin-right: 5rem;
}

.by-popularity {
  background-color: #562b81;
}

.popular-header {
  margin-top: 4rem;
}

.top-buttons {
  height: 4.2rem;
  width: 11.5rem;
  border-radius: 0.5rem;
  margin-top: 3rem;
  font-size: 1.3rem;
  padding-bottom: 0.7rem;
}

i {
  margin-top: 1.1rem;
  padding-left: 1.5rem;
  color: #007bff;
}

i:hover {
  cursor: pointer;
}

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-dialogue {
  padding: 1rem;
  padding-bottom: 2rem;
  color: white;
  background-color: #292929;
  opacity: 90%;
  border-radius: 0.25rem;
}

.modal {
  width: 20rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

.modal-text {
  font-size: 1.3rem;
  display: block;
  margin-bottom: 0;
}

.no-entries {
  text-align: center;
}

.slide-container {
  background-color: rgb(97 87 87);
  padding: 0.5rem;
  border-radius: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

body {
  background-color: #687486;
}

img {
  border-radius: 0.5rem;
}
